<%= stylesheet_link_tag "homepage", media: "all" %>

<div class="container">
  <header class="header">
    <% if user_signed_in? %>
      <h1>Welcome back to Nice Recipes, <%= current_user.email %></h1>
      <%= link_to 'My Profile and Favourite Recipes', user_path(current_user), class: "btn btn-info profile-button" %>
      <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-danger signout-button" %>
  <% else %>
      <h1>Nice Recipes</h1>
      <%= link_to 'Sign in', new_user_session_path, class: "btn btn-info profile-button" %>
    <% end %>
    <p class="subtitle">Find the perfect recipe by searching for ingredients you have!</p>
  </header>

  <div class="search-bar">
    <%= form_with url: pages_index_path, method: :get, local: true, class: "search-form" do %>
      <%= text_field_tag :ingredients, params[:ingredients], placeholder: "Search by ingredients (e.g., 'chicken rice')", class: "search-input" %>
      <%= select_tag :sort_by, options_for_select([['Prep + Cook Time', 'time'], ['Rating', 'rating']], params[:sort_by]), class: "form-select" %>
      <%= submit_tag "Search", class: "btn btn-primary search-button" %>
    <% end %>
  </div>

  <div class="pag-bar mt-5 pt-5">
    <%== pagy_nav(@pagy) %>
  </div>
  <table class="recipe-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Cook Time (min)</th>
        <th>Prep Time (min)</th>
        <th>Ingredients</th>
        <th>Ratings</th>
        <th>Cuisine</th>
        <th>Category</th>
        <th>Author</th>
        <th>Image</th>
        <% if @user.present? %>
          <th>Favourite</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% if @recipes.any? %>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.title %></td>
          <td><%= recipe.cook_time %></td>
          <td><%= recipe.prep_time %></td>
          <td class="ingredients">
            <% recipe.ingredients.split(',').each do |ingredient| %>
              <%= ingredient.strip %>
            <% end %>
          </td>
          <td><%= recipe.ratings %></td>
          <td><%= recipe.cuisine %></td>
          <td><%= recipe.category %></td>
          <td><%= recipe.author %></td>
          <td>
            <% if recipe.decoded_image_url %>
              <img src="<%= recipe.decoded_image_url %>" alt="Recipe Image" class="recipe-image">
            <% else %>
              No image available
            <% end %>
          </td>
          <% if @user.present? %>
            <td><%= link_to 'Add to Favourite Recipes', favourite_recipes_path(recipe_id: recipe.id), data: { turbo_method: "post" } %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" class="no-results">No recipes found.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pag-bar mt-5 pt-5">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
