<%= stylesheet_link_tag "homepage", media: "all" %>

<div class="container">
  <header class="header">
    <h1>Nice Recipes</h1>
    <p class="subtitle">Find the perfect recipe by searching for ingredients you have!</p>
  </header>

  <div class="search-bar">
    <%= form_with url: pages_index_path, method: :get, local: true, class: "search-form" do %>
      <%= text_field_tag :ingredients, params[:ingredients], placeholder: "Search by ingredients (e.g., 'chicken rice')", class: "search-input" %>
      <%= select_tag :sort_by, options_for_select([['Prep + Cook Time', 'time'], ['Rating', 'rating']], params[:sort_by]), class: "form-select" %>
      <%= submit_tag "Search", class: "btn btn-primary search-button" %>
    <% end %>
  </div>

  <div class="pag-bar mt-5 pt-5">
    <%== pagy_nav(@pagy) %>
  </div>
  <table class="recipe-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Cook Time (min)</th>
        <th>Prep Time (min)</th>
        <th>Ingredients</th>
        <th>Ratings</th>
        <th>Cuisine</th>
        <th>Category</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
    <% if @recipes.any? %>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.title %></td>
          <td><%= recipe.cook_time %></td>
          <td><%= recipe.prep_time %></td>
          <td class="ingredients">
            <% recipe.ingredients.split(',').each do |ingredient| %>
              <%= ingredient.strip %>
            <% end %>
          </td>
          <td><%= recipe.ratings %></td>
          <td><%= recipe.cuisine %></td>
          <td><%= recipe.category %></td>
          <td><%= recipe.author %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8" class="no-results">No recipes found.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="pag-bar mt-5 pt-5">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
